body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: azure;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    display: flex;
    justify-content: center;
    background-color: burlywood;
    padding: 1%
}

.main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid-container {
    border: 1px solid black;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 0px;
    background-color: white;
}

.grid-element {
    border: 1px solid black;
    margin: 0px;
}

.grid-element:hover {
    background-color: blue;
}