body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: azure;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    display: flex;
    justify-content: center;
    background-color: burlywood;
    padding: 1%
}

.main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.grid-container {
    border: 1px solid black;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 1px;
    background-color: black;
}

.grid-element {
    margin: 0px;
    background-color: white;
}

.controls {
    display: flex;
}

button {
    margin: 20px;
    padding: 10px;
    background-color: blanchedalmond;
    border: 1px solid white;
    border-radius: 20px;
}

#colorpicker {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 1px;
    border-radius: 10%;
    cursor: pointer;
    height: 40px;
    padding: 0;
    width: 40px;
    margin: 20px;
}